XMLs/relacion2/SegundaParte/ejercicio3.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="bingo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bola" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="numero" type="numeroDeBola"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="numeroDeBola">
     <xs:restriction base="xs:positiveInteger">
        <xs:minInclusive value="1"/>
        <xs:maxExclusive value="90"/>
     </xs:restriction>
  </xs:simpleType>

</xs:schema>


<?xml version="1.0" encoding="UTF-8"?>
<bingo>
    <bola numero="3"></bola>
</bingo>